# [1378. Replace Employee ID With The Unique Identifier](https://leetcode.com/problems/replace-employee-id-with-the-unique-identifier/description/?envType=study-plan-v2&envId=top-sql-50)

Table: Employees
<pre>
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| name          | varchar |
+---------------+---------+</pre>
id is the primary key (column with unique values) for this table.
Each row of this table contains the id and the name of an employee in a company.
 

Table: EmployeeUNI
<pre>
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| unique_id     | int     |
+---------------+---------+</pre>
(id, unique_id) is the primary key (combination of columns with unique values) for this table.
Each row of this table contains the id and the corresponding unique id of an employee in the company.
 

Write a solution to show the unique ID of each user, If a user does not have a unique ID replace just show null.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Employees table:
<pre>+----+----------+
| id | name     |
+----+----------+
| 1  | Alice    |
| 7  | Bob      |
| 11 | Meir     |
| 90 | Winston  |
| 3  | Jonathan |
+----+----------+</pre>
EmployeeUNI table:
<pre>+----+-----------+
| id | unique_id |
+----+-----------+
| 3  | 1         |
| 11 | 2         |
| 90 | 3         |
+----+-----------+</pre>
Output: 
<pre>+-----------+----------+
| unique_id | name     |
+-----------+----------+
| null      | Alice    |
| null      | Bob      |
| 2         | Meir     |
| 3         | Winston  |
| 1         | Jonathan |
+-----------+----------+</pre>
Explanation: 
Alice and Bob do not have a unique ID, We will show null instead.
The unique ID of Meir is 2.
The unique ID of Winston is 3.
The unique ID of Jonathan is 1.

In [2]:
#Pandas Schema
import pandas as pd

data = [[1, 'Alice'], [7, 'Bob'], [11, 'Meir'], [90, 'Winston'], [3, 'Jonathan']]
employees = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'int64', 'name':'object'})
data = [[3, 1], [11, 2], [90, 3]]
employee_uni = pd.DataFrame(data, columns=['id', 'unique_id']).astype({'id':'int64', 'unique_id':'int64'})
#to pyspark schema

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession.builder.getOrCreate()

employees_df = spark.createDataFrame(employees)
employee_uni_df = spark.createDataFrame(employee_uni)

In [3]:
employees_df.show(truncate=False)
employee_uni_df.show(truncate=False)

+---+--------+
|id |name    |
+---+--------+
|1  |Alice   |
|7  |Bob     |
|11 |Meir    |
|90 |Winston |
|3  |Jonathan|
+---+--------+

+---+---------+
|id |unique_id|
+---+---------+
|3  |1        |
|11 |2        |
|90 |3        |
+---+---------+

In [4]:
# in spark Dafaframe

employees_df.join(employee_uni_df, ['id'] ,'left').select('unique_id','name').show()

+---------+--------+
|unique_id|    name|
+---------+--------+
|     NULL|   Alice|
|     NULL|     Bob|
|        2|    Meir|
|        3| Winston|
|        1|Jonathan|
+---------+--------+

In [ ]:
# in spark SQL

employees_df.createOrReplaceTempView('employees')
employee_uni_df.createOrReplaceTempView('employee_uni')

spark.sql('''
select unique_id, name
from employees
left join employee_uni 
on employees.id = employee_uni.id;
''').show()

+---------+--------+
|unique_id|    name|
+---------+--------+
|     NULL|   Alice|
|     NULL|     Bob|
|        2|    Meir|
|        3| Winston|
|        1|Jonathan|
+---------+--------+

In [ ]:
spark.stop()