# [197. Rising Temperature](https://leetcode.com/problems/rising-temperature/description/?envType=study-plan-v2&envId=top-sql-50)

Table: Weather

<pre>+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+</pre>
id is the column with unique values for this table.
This table contains information about the temperature on a certain day.
 

Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Weather table:
<pre>+----+------------+-------------+
| id | recordDate | temperature |
+----+------------+-------------+
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |
+----+------------+-------------+</pre>
Output: 
<pre>+----+
| id |
+----+
| 2  |
| 4  |
+----+</pre>
Explanation: 
In 2015-01-02, the temperature was higher than the previous day (10 -> 25).
In 2015-01-04, the temperature was higher than the previous day (20 -> 30).

In [1]:
#Pandas schema

import pandas as pd

data = [[1, '2015-01-01', 10], [2, '2015-01-02', 25], [3, '2015-01-03', 20], [4, '2015-01-04', 30]]
weather = pd.DataFrame(data, columns=['id', 'recordDate', 'temperature']).astype({'id':'Int64', 'recordDate':'datetime64[ns]', 'temperature':'Int64'})

# to pyspark schema

#Importing the packages
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

weather_df = spark.createDataFrame(weather)

In [2]:
weather

   id recordDate  temperature
0   1 2015-01-01           10
1   2 2015-01-02           25
2   3 2015-01-03           20
3   4 2015-01-04           30

In [24]:
weather_df.alias('w1').join( weather_df.alias('w2'), datediff('w1.recordDate','w2.recordDate')==1, 'inner' )\
                      .where(col('w1.temperature') > col('w2.temperature'))\
                      .select("w1.id")\
                      .show()

+---+
| id|
+---+
|  2|
|  4|
+---+

In [7]:
# in Spark SQL
weather_df.createOrReplaceTempView('weather')
spark.sql('''
    select b.id from
    weather a join weather b
    on DATEDIFF(b.recordDate,a.recordDate)=1
    where b.temperature > a.temperature
''').show()

+---+
| id|
+---+
|  2|
|  4|
+---+

In [0]:
spark.stop()