# [584. Find Customer Referee](https://leetcode.com/problems/find-customer-referee/description/?envType=study-plan-v2&envId=top-sql-50)

Table: Customer

<pre>
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
| referee_id  | int     |
+-------------+---------+</pre>
In SQL, id is the primary key column for this table.
Each row of this table indicates the id of a customer, their name, and the id of the customer who referred them.
 

Find the names of the customer that are not referred by the customer with id = 2.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Customer table:
<pre>
+----+------+------------+
| id | name | referee_id |
+----+------+------------+
| 1  | Will | null       |
| 2  | Jane | null       |
| 3  | Alex | 2          |
| 4  | Bill | null       |
| 5  | Zack | 1          |
| 6  | Mark | 2          |
+----+------+------------+
</pre>
Output:
<pre> 
+------+
| name |
+------+
| Will |
| Jane |
| Bill |
| Zack |
+------+
</pre>

In [6]:
# Pandas Schema

import pandas as pd

data = [[1, 'Will', None], [2, 'Jane', None], [3, 'Alex', 2], [4, 'Bill', None], [5, 'Zack', 1], [6, 'Mark', 2]]
customer = pd.DataFrame(data, columns=['id', 'name', 'referee_id']).astype(
    {'id': 'Int64', 'name': 'object', 'referee_id': 'Int64'})

#Importing the packages
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

# Spark has issues with null values when using Pandas' Int64 data type, hence creating a Spark schema
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("referee_id", IntegerType(), True)
])

spark = SparkSession.builder.getOrCreate()
customer_df = spark.createDataFrame(data, schema=schema)

In [7]:
customer

   id  name  referee_id
0   1  Will        <NA>
1   2  Jane        <NA>
2   3  Alex           2
3   4  Bill        <NA>
4   5  Zack           1
5   6  Mark           2

In [15]:
# in Spark Dataframe
customer_df.select('name').where((col('referee_id') != 2) | (col('referee_id').isNull())).show()

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+

In [17]:
# in Spark SQL
customer_df.createOrReplaceTempView('customer')
spark.sql('''
    select name from customer where referee_id != 2 or referee_id is Null
''').show()

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+

In [7]:
spark.stop()