# [1148. Article Views I](https://leetcode.com/problems/article-views-i/description/?envType=study-plan-v2&envId=top-sql-50)

Table: Views
<pre>
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| article_id    | int     |
| author_id     | int     |
| viewer_id     | int     |
| view_date     | date    |
+---------------+---------+
</pre>
There is no primary key (column with unique values) for this table, the table may have duplicate rows.
Each row of this table indicates that some viewer viewed an article (written by some author) on some date. 
Note that equal author_id and viewer_id indicate the same person.
 

Write a solution to find all the authors that viewed at least one of their own articles.

Return the result table sorted by id in ascending order.

The result format is in the following example.

 

Example 1:

Input: 
Views table:
<pre>
+------------+-----------+-----------+------------+
| article_id | author_id | viewer_id | view_date  |
+------------+-----------+-----------+------------+
| 1          | 3         | 5         | 2019-08-01 |
| 1          | 3         | 6         | 2019-08-02 |
| 2          | 7         | 7         | 2019-08-01 |
| 2          | 7         | 6         | 2019-08-02 |
| 4          | 7         | 1         | 2019-07-22 |
| 3          | 4         | 4         | 2019-07-21 |
| 3          | 4         | 4         | 2019-07-21 |
+------------+-----------+-----------+------------+</pre>
Output: 
<pre>
+------+
| id   |
+------+
| 4    |
| 7    |
+------+</pre>

In [2]:
# Pandas schema

import pandas as pd

data = [[1, 3, 5, '2019-08-01'], [1, 3, 6, '2019-08-02'], [2, 7, 7, '2019-08-01'], [2, 7, 6, '2019-08-02'], [4, 7, 1, '2019-07-22'], [3, 4, 4, '2019-07-21'], [3, 4, 4, '2019-07-21']]
views = pd.DataFrame(data, columns=['article_id', 'author_id', 'viewer_id', 'view_date']).astype({'article_id':'Int64', 'author_id':'Int64', 'viewer_id':'Int64', 'view_date':'datetime64[ns]'})

# To pyspark schema

#Importing the packages
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()
df = spark.createDataFrame(views)

In [3]:
views

   article_id  author_id  viewer_id  view_date
0           1          3          5 2019-08-01
1           1          3          6 2019-08-02
2           2          7          7 2019-08-01
3           2          7          6 2019-08-02
4           4          7          1 2019-07-22
5           3          4          4 2019-07-21
6           3          4          4 2019-07-21

In [7]:
# In spark Dataframe
df.select('author_id').where(col('author_id')==col('viewer_id')).distinct().show()

+---------+
|author_id|
+---------+
|        7|
|        4|
+---------+

In [9]:
#In spark SQL
df.createOrReplaceTempView('views')

spark.sql('''
    select distinct author_id as id from views
    where author_id=viewer_id
''').show()

+---+
| id|
+---+
|  7|
|  4|
+---+

In [7]:
spark.stop()