# [1683. Invalid Tweets](https://leetcode.com/problems/invalid-tweets/description/?envType=study-plan-v2&envId=top-sql-50)

Table: Tweets
<pre>
+----------------+---------+
| Column Name    | Type    |
+----------------+---------+
| tweet_id       | int     |
| content        | varchar |
+----------------+---------+</pre>
tweet_id is the primary key (column with unique values) for this table.
This table contains all the tweets in a social media app.
 

Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Tweets table:
<pre>
+----------+----------------------------------+
| tweet_id | content                          |
+----------+----------------------------------+
| 1        | Vote for Biden                   |
| 2        | Let us make America great again! |
+----------+----------------------------------+</pre>
Output: 
<pre>
+----------+
| tweet_id |
+----------+
| 2        |
+----------+</pre>
Explanation: 
Tweet 1 has length = 14. It is a valid tweet.
Tweet 2 has length = 32. It is an invalid tweet.

In [1]:
# Pandas Schema

import pandas as pd

data = [[1, 'Vote for Biden'], [2, 'Let us make America great again!']]
tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})

# pyspark schema

#Importing the packages
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()
df = spark.createDataFrame(tweets)

In [2]:
tweets

   tweet_id                           content
0         1                    Vote for Biden
1         2  Let us make America great again!

In [13]:
# In spark Dataframe
df.select('tweet_id').where(length(col('content'))>15).show()

+--------+
|tweet_id|
+--------+
|       2|
+--------+

In [8]:
#In spark SQL
df.createOrReplaceTempView('tweets')

spark.sql('''
          
    select tweet_id from tweets 
    where length(content)>15;
          
''').show()

+--------+
|tweet_id|
+--------+
|       2|
+--------+

In [7]:
spark.stop()